<body>
    
    <div class="header">
      <h1>E-Villagers</h1>
    </div>
    
    <div class="topnav">
     
      <a routerLink="/post">About Us </a>
  
    </div>
  
  
  <body class="row" style="margin-top: 90px;">
      <div class="col-sm-3"></div>
      <div class="col-sm-2">
     <div class="card"  style="width: 18rem;">
      <img class="card-img-top" value="1" routerLink="/problemform"  src="./assets/images/road.jpg" alt="Card image cap" height="150" width="160" ml-100 ng-click="func(road)">
      <div class="card-body">
        <p class="card-text">Road Problem.</p>
       
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/agriculture.jpg" alt="Card image cap" height="150" width="160" ng-click="func(agriculture)">
      <div class="card-body">
        <p class="card-text">Agriculture Problem.</p>
       
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/water.png" alt="Card image cap" height="150" width="160" ng-click="func(water)">
      <div class="card-body">
        <p class="card-text">Water Problem.</p>
       
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 90px;"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/edjucation.png" alt="Card image cap" height="150" width="160"ng-click="func(education)">
      <div class="card-body">
        <p class="card-text">Education Problem.</p>
       
      </div>
    </div>
    </div>
  
    <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/health.jpg" alt="Card image cap" height="150" width="160" ng-click="func(health)">
      <div class="card-body">
        <p class="card-text">Health Problem.</p>
       
      </div>
    </div>
    </div>
  
    <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/electricity.png" alt="Card image cap" height="150" width="160"ng-click="func(electricity)">
      <div class="card-body">
        <p class="card-text">Agriculture Problem.</p>
        
      </div>
    </div>
    </div>
  
    <div class="row" style="margin-top: 90px;"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/garbbage.png" alt="Card image cap" height="150" width="160" ng-click="func(garbbage)">
      <div class="card-body">
        <p class="card-text">Garbbage Problem.</p>
       
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform" src="./assets/images/drainage.jpg" alt="Card image cap" height="150" width="160" (click)="func('drainage')">
      <div class="card-body">
        <p class="card-text">Drainage Problem.</p>
        
      </div>
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" routerLink="/problemform"  src= "./assets/images/others.png" alt="Card image cap" height="150" width="160" ng-click="func(others)">
      <div class="card-body">
        <p class="card-text">Others Problem.</p>
      </div>
    </div>
  </div>
  
  </body>
  
  
  