<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a routerLink="/updateprofile" click="uo" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i>UpdateProfile</a>
  <a routerLink="/post" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Post Your Problem"><i class="fa fa-envelope"></i>Post</a>
  <a routerLink="/notification" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"  title="Notifications"><i class="fa fa-bell"></i>Notifications</a>

 
 </div>
</div>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
     
      
      <!-- Accordion -->
      
      <!-- Interests --> 
        <!-- Interests --> 
        <div class="w3-card w3-round w3-white w3-hide-small">
          <div class="w3-container">
           
           <h1> <marquee>
             Welcome
                to
             E-Villagers 
           </marquee></h1>

          </div>
        </div>
        <br>
        <div>
          this is my button
<form (ngSubmit)="fetch()">
<button type="submit" >submit</button>

</form>
        </div>
     
      
      <!-- Alert Box -->
     
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
     
      
     
      
      <li *ngFor="let abc of aaa">

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="assets/avatar-png-1.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity"></span>
        <h4>{{abc.name}}</h4><br>
        <hr class="w3-clear">
        <!---messageaaaaaaaaaaaaaaaaaaaa-->
        <img src="assets/bg.jpg" style="width:100%" class="w3-margin-bottom">
        <p>{{abc.message}}</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" routerLink="/comment" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div> 
      </li>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <li *ngFor="let bcd of aaa">
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Department :</p>
          
          <p><strong>{{bcd.dept}}</strong></p>
          <p>status :</p>
          <p>{{bcd.status}}</p>
          <p>{{bcd.dateline}}</p>
          
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
   
      <br>
   
    
      
      
      
      
    <!-- End Right Column -->
    </div>
    </li>
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5></h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">E-Villagers</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html> 



        